.enter {
  opacity: 0.01;
  transform: translateY(-10px) scale(0.98);
}

.enterActive {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: all 300ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translateY(0px) scale(1);
}

.exitActive {
  opacity: 0.01;
  transform: translateY(-10px) scale(0.98);
  transition: all 300ms ease-in-out;
}

.exitDone {
  opacity: 0;
  transform: translateY(-10px) scale(0.98);
  display: none;
}
