/* numbers/index.svelte and time/index.svelte share styling */

/* numbers and time shared */
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  margin-bottom: 2rem;
  height: 4rem;
}
header h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary2);
}
main {
  text-align: center;
}
.inputWrapper {
  display: grid;
  height: 3rem;
  margin: 0 0 1rem 0;
}
.answerSwitch {
  grid-area: answer;
}
.directionBtn {
  grid-area: direction;
}
.hint {
  grid-area: hint;
  display: grid;
  place-content: center;
  color: var(--secondary5);
  height: 3rem;
  font-size: 0.75rem;
}
.togglesContainer {
  display: grid;
  grid-template-areas: 'answer direction' 'hint hint';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.togglesContainer div.visibilitySwitchWrapper {
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .hint {
    font-size: 1rem;
  }
  .inputWrapper {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 800px) {
  .hint {
    font-size: 1.5rem;
  }
  .togglesContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'answer hint direction';
  }
}

/* numbers page only */
.settingsBtn {
  font-family: SpaceMono;
  text-transform: lowercase;
  background-color: var(--gray5);
  border: 4px solid var(--primary2);
  border-radius: 0px;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--primary2);
  height: 4rem;
}
.select-positioner {
  padding-top: 1rem;
  text-align: center;
}
.drawer-topbar {
  padding: 0.5rem 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: baseline;
  margin: 0 1rem;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.drawer-topbar h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary1);
}
.drawer-topbar button {
  font-size: 1rem;
  color: var(--secondary1);
  text-transform: uppercase;
}
.drawer-toggles {
  display: flex;
  flex-wrap: wrap;
  place-content: space-around;
}
@media only screen and (min-width: 800px) {
  .drawer-toggles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }
}

/* Input Components */
.wave-page-input {
  width: 100%;
  height: 3rem;
  font-size: clamp(1rem, 5.25vw, 2.5rem);
  padding: 0 3rem;
  text-align: center;
  border: 2px solid var(--primary2);
  border-radius: 4px;
  color: black;
}
.wave-page-input:focus-visible {
  border: 2px solid transparent;
  outline: 2px solid var(--primary4);
}
.wave-page-input::-webkit-clear-button,
.wave-page-input::-webkit-outer-spin-button,
.wave-page-input::-webkit-inner-spin-button {
  display: none;
}
.ko {
  font-family: 'GowunDodum';
}
.en {
  font-family: 'BioRhyme';
}
.visibility-icon-wrapper {
  position: relative;
  justify-self: right;
  top: -2.4rem;
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
}
